.app { 
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #131316;
  color: #f2f2f3;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
  padding-top: 0;
  padding-left: 250px;
  padding-right: 250px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}