.feed_page__section {
  display: flex;
  justify-content: none;
  flex-direction: column;
  margin-right: auto;
}

.feed_page__main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.feed_page__scroll {
  height: 770px;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  padding: 0;
}

.feed_page__listElement {
  margin-bottom: 16px;
  text-decoration: none;
  color: white;
}

.feed_page__listElement:last-of-type {
  margin-bottom: 0px;
}

.feed_page__prepared {
  display: flex;
  flex-direction: column;
  color: #00cccc;
  gap: 8px;
  column-gap: 25px;
  height: 320px;
  flex-wrap: wrap;
}

.feed_page__atWork {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 8px;
  column-gap: 25px;
  height: 320px;
  flex-wrap: wrap;
}

.feed_page__scoreboard {
  display: flex;
  flex-direction: row;
}

.feed_page__scoreboardElement {
  width: 275px;
}

.feed_page__number {
  text-shadow: 0 0 50px #4c4cff;
}

.feed_page__link {
  text-decoration: none;
  color: white;
}

.feed_page__columnNumber {
  width: fit-content;
}
