.modal__container {
  width: 700px;
  background-color: #1c1c21;
  min-height: 200px;
    position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6666;
  border-radius: 40px;
 
}

.modal__button {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  transition: 0.8s;
  background-color: transparent;
  border: 0;
  padding: 0;
  
}

.modal__button:hover {
  opacity: 0.6;
  cursor: pointer;
}
