.forgot__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 150px;
}

.forgot__button {
	align-self: center;
}

.forgot__text {
	text-align: center;
}

.forgot__link {
	text-decoration: none;
	color: #4C4CFF;
}