.header {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 50px;
  background: #1C1C21;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.header__list {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.header__container {  
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header__logo {
  display: flex;
  justify-content: center;
}

.header__element {
  display: flex;
    flex-direction: row;
    align-items: center;
  text-decoration: none;
  color: #8585ad;
}

.header__element--active {
  color: white;
}