.ingredient {
  display: flex;
  flex-direction: column;
}

.ingredient__header {
  margin-top: 51px;
  display: flex;
  justify-content: left; 
}

.ingredient__list {display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.ingredient__list_el {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 112px;
}

.ingredient__pic,
.ingredient__name {
  align-self: center;
}