.constructor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content:  flex-end;
    max-width: 536px;
    width: 100%;
}

.constructor__list {
    max-height: 464px;
    width: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.constructor__item {
    width: 100%;
    display: flex;
    gap: 13px;
    align-items: center;
    align-items: flex-end;
    cursor: pointer;
    position: relative;
}

.constructor__total {
    display: flex;
    align-items: center;
    margin-right: 14px;
}

.constructor__wrap {
    display: flex;
    gap: 10px;
    align-items: center;
}

.constructor__drag_icon {
    position: absolute;
    left: -28px;
    top: 29px;
}