.constructor {
  display: flex;
  white-space: pre-wrap;
}

.constructor__list {
  display: flex;
  flex-direction: column;
  height: 400px;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.constructor_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.final_price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 500px;
}
