.section {
  padding-top: 40px;
  max-width: 600px;
}

.tabs {
  display: flex;
  padding-top: 20px;
}

.subs {
  display: flex;
  flex-direction: column;
  max-height: 756px;
  list-style-type: none;
  box-sizing: border-box;
  padding-right: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
}
